<%= form_for @post, url: message_index_path do |f| %>

  <div class="field">
    <%= f.label "Name" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Your Message" %><br>
    <%= f.text_field :message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>